# Distribution / packaging
.Python
venv/
env/
*.mysql
.idea/
# Project asset folders
media/
# Database
db.backends.mysql
# Editor directories and files
.idea
# Byte-compiled / optimized / DLL files
_pycache_/
*.pyc
